<mat-toolbar color="primary">
  <span class="fill-remaining-space">My Reactive Form with Material</span>
</mat-toolbar>

<div class="container" novalidate>
  <form [formGroup]="register" class="form">
    <div formArrayName="itemProfile">
      <div *ngFor="let item of profileControl;let i=index">
        <div class="form-group more" [formGroupName]="i">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Name*</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
            <div *ngIf="item.get('name').hasError('required') && isSubmitted">
              <p>{{"Name Error" }}</p>
            </div>
          </div>
          <div class="form-group">
            <h4 class="mb-3">Gender*</h4>
            <mat-radio-group formControlName="sex" aria-label="Select an option">
              <mat-radio-button value="male">Male</mat-radio-button>&nbsp;
              <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>
            <div *ngIf="item.get('sex').hasError('required') && isSubmitted">
              <p>Please select either value</p>
            </div>
          </div>
        </div>
        <div class="form-group addmore">
          <a (click)="removeGroup(i)">Remove Fields</a>
        </div>
      </div>
    </div>
    <div class="form-group addmore">
      <a (click)="addRow()">Add Fields</a>
    </div>

    <div>&nbsp;</div>
    <div class="form-element">
      <button mat-raised-button (click)="onSubmit()" type="submit" class="btn btn-primary">Submit
        Form</button>
    </div>
  </form>
</div>